@use '../../../sass/mixins' as mixin;
@use '../../../sass/vars' as var;
@use '../../../sass/reset' as reset;

.section2 {
    @include mixin.flex(column, center, center, 30px);
    padding: 96px 64px;

    &-container {
        @include mixin.flex(row, space-between, center, 30px);
        width: 100%;
        &__text {
            @include mixin.PlusJakartaSans(16px, 600, 20px);
            opacity: 0.5;
        }
        &__link {
            @include mixin.PlusJakartaSans(16px, 600, 20px);
            color: var.$third-color;
        }
    }
    &-container2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        @include mixin.PlusJakartaSans(16px, 600, 20px);
        color: var.$background-color;
        background-color: var.$third-color;
        padding: 10px 20px;
        border-radius: 4px;
    }
}
